{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 80,
	"semi": true,
	"trailingComma": "es5",
	"singleQuote": true,
	"endOfLine": "lf",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"interface",
		"(?=content|api)",
		"context/",
		"mock/",
		"config",
		"utils/",
		"hooks/",
		"(components/|./index)",
		".svg",
		"^../(.*)$",
		"(?=./styles.module.scss)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
